<h1>THE CHOOSEN ONE</h1>
<br><br><img src="https://media.giphy.com/media/84yBhvivs6ODm/giphy.gif">
<br>
<h2><%=@currency.name%></h2>
<br>
<h2>
    <%=@currency.value%>
</h2>
<br>
<a href="/" class="goldenbtn">Sélectionne d'autres valeurs !</a>